.saveHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.delete-icon {
  display: flex;
  padding-right: 20px;
}

.delete-icon img {
  width: 30px;
  vertical-align: center;
}

.delete-icon :hover {
  cursor: pointer;
  box-shadow: 0px 1px 8px rgba(103, 39, 242, 0.3);
}
.saveHeaderText {
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 23.2607px;
  color: var(--primary-color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.saveInput {
  width: 80%;
  background: #f0f2f2;
  margin-left: 20px;
  margin-top: 16px;
  border: none;
  border: 1px solid #6727f2;
  box-sizing: border-box;
  border-radius: 10px;
  width: 204.5px;
  height: 62.03px;
  font-size: 15px;
  line-height: 12px;
  padding: 10px;
  color: #6727f2;
}
.saveFooter {
  width: 100%;
  position: relative;
  margin-top: 40px;
  bottom: 0%;
}
.footerSave {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 50%;
  height: 62.03px;
  background: #6727f2;
  border-radius: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  color: #ffffff;
}
.footerCancel {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 50%;
  height: 62.03px;
  border: 1.93839px solid #6727f2;
  box-sizing: border-box;
  border-radius: 0px 0px 19.3839px 0px;
  font-weight: 600;
  font-size: 15px;
  color: var(--primary-color);
}
.footerDelete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 50%;
  height: 62.03px;
  background: #6727f2;
  border-radius: 0px 0px 10px 0px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}
.footerCancelDelete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 50%;
  height: 62.03px;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  border: 1px solid #6727f2;
  color: #6727f2;
}
.saveBody {
  padding: 18px 20px 30px 21px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: black;
  opacity: 0.8;
}
