.RightBarMainContainer {
  width: 350px;
  min-height: 611px;
  background: var(--secondary-color);
  border-left: 1px solid #6727f2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.RightBarHeader {
  height: 57px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RightBarHeaderName {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  margin-left: 35px;
}
.RightBarHeaderImage {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.RightBarDescriptionButton {
  width: 211px;
  height: 32px;
  margin-top: 33px;
  background: var(--primary-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.LabelContainer {
  width: 211px;
  height: 172px;
  background: var(--white);
  border-radius: 10px;
  margin-top: 28px;
}
.LabelContainerHeader {
  width: 211px;
  height: 48px;
  background: var(--white);
  border-radius: 10px 10px 0px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #868686;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #6727f2;
  padding-left: 20px;
  padding-right: 20px;
}
.LabelHeaderIcon {
  cursor: pointer;
}
.LabelList {
  box-sizing: border-box;
  padding: 25px;
}
.LabelListItem {
  display: flex;
  justify-content: space-between;
}
.LabelListItem5 {
  margin-top: 7px;
  margin-right: 8px;
  width: 5.98px;
  height: 6px;
  background: #e28383;
  transform: rotate(90deg);
  border-radius: 50%;
}
.LabelListItem6 {
  margin-top: 7px;
  margin-right: 8px;
  width: 5.98px;
  height: 6px;
  background: #d9d572;
  transform: rotate(90deg);
  border-radius: 50%;
}

.LabelListItem7 {
  margin-top: 7px;
  margin-right: 8px;
  width: 5.98px;
  height: 6px;
  background: #8699dd;
  transform: rotate(90deg);
  border-radius: 50%;
}
.LabelListItem8 {
  margin-top: 7px;
  margin-right: 8px;
  width: 5.98px;
  height: 6px;
  background: #8acf7f;
  transform: rotate(90deg);
  border-radius: 50%;
}
.LabelListItem9 {
  margin-top: 7px;
  margin-right: 8px;
  width: 5.98px;
  height: 6px;
  background: #c48ebe;
  transform: rotate(90deg);
  border-radius: 50%;
}
.LabelListItem0 {
  display: flex;
}
.LabelListItem2 {
  width: 140px;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  color: #666666;
}
.LabelListItem3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  color: #666666;
}
input:not([disabled]):hover {
  background-color: #e3dcf3;
}
/* Description */
.LeftDescriptionContainer {
  width: 211px;
  min-height: 149px;
  background: var(--white);
  border-radius: 10px;
  margin-top: 31px;
  margin-bottom: 30px;
}
.LeftDescriptionContainerHeader {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.DescriptionHeaderText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */

  color: #8d8a8a;
}
.LeftDescriptionTextBody {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 25px 17px 16px;
}
.LeftDescriptionText {
  width: 166px;
  background: var(--white);
  border-radius: 10px;
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  min-height: 20px;
  overflow: hidden;
  line-height: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.LeftDescriptionButton {
  border-top: 1px solid #6727f2;
}
.DescriptionHeaderIcon {
  cursor: pointer;
}
